---
layout: default
---
<!-- about.html -->
      <div class="post">
        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}


          </div>
          {%- endif %}

<style>
    /* Styling for the horizontal rule */
    hr {
        border: 1px solid #ccc; /* Border color */
        margin: 20px 0; /* Margin above and below the horizontal rule */
    }
    hr.blue-rule {
        border: 1px solid blue; /* Set the border color to blue */
        margin: 20px 0; /* Adjust the margin as needed */
    }
</style>
 <style>
    .right-align {
      text-align: right;
    }
</style>

    <h1 style="font-size: 40px" > Alberto Artoni </h1>
    <hr class="blue-rule", style="margin-left: 34%;">
    <h4> Post Doc at <a href='https://mox.polimi.it/'>MOX Laboratory</a> <h4>
    <hr class="blue-rule", style="margin-left: 34%;">

    <h5 class="right-align", style="margin-top:-5px"> Dipartimento di Matematica </h5>
    <h5 class="right-align", style="margin-top:-5px"> Politecnico di Milano </h5>
    <h5 class="right-align", style="margin-top:-5px"> Piazza Leonardo da Vinci, 32 </h5>
    <h5 class="right-align", style="margin-top:-5px"> 20133 Milano - IT </h5>

          <div class="clearfix">
            {{ content }}
          </div>

        <h1, style="text-align: center;">
          <a href="https://github.com/Alberto1Artoni/" title="GitHub"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/alberto-artoni-8b6901155/" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
          <a href="mailto: alberto.artoni1995@gmail.com" title="email"><i class="fas fa-envelope"></i></a>
        </h1>
        </article>


</div>
