---
layout: default
---
<!-- page.html -->
<div class="post">

<style>
    /* Styling for the horizontal rule */
    hr {
        border: 1px solid #ccc; /* Border color */
        margin: 20px 0; /* Margin above and below the horizontal rule */
    }
    hr.blue-rule {
        border: 1px solid blue; /* Set the border color to blue */
        margin: 20px 0; /* Adjust the margin as needed */
    }
</style>

  <h2> Publications </h2>

  <hr class="blue-rule">

  <article>
    {{ content }}
  </article>

  <h2> Ph.D. Thesis
  <hr class="blue-rule">
  <a href="/assets/pdf/DraftPhDThesis.pdf" target="_blank" rel="noopener noreferrer">Ph.D. Thesis</a>

</div>
