---
layout: default
---

<style>
    /* Styling for the horizontal rule */
    hr {
        border: 1px solid #ccc; /* Border color */
        margin: 20px 0; /* Margin above and below the horizontal rule */
    }
    hr.blue-rule {
        border: 1px solid blue; /* Set the border color to blue */
        margin: 20px 0; /* Adjust the margin as needed */
    }
</style>
<style>
.custom-table {
    width: 100%; /* Set the width of the table */
    border-collapse: collapse; /* Collapse borders to avoid spacing between cells */
    margin: 0px 0; /* Adjust the margin as needed */
    border: 0px;
}
.custom-table td {
    padding: 8px; /* Add padding to the cells */
    border-spacing: 0px;
    border-width: 0px;
}
</style>

  <h2> Teaching Activity </h2>
  <hr class="blue-rule">

  <h6> <strong>2023-2024</strong> </h6>
  <table class="custom-table">
  <colgroup>
    <col style="width: 20%;">
    <col style="width: 80%;">
  </colgroup>
  <tr>
       <td> Teaching Assistant</td>
       <td> Advanced Programming for Scientific Computing, <em>Mathematical Engineering</em>, Poli.Mi.</td>
  </tr>
  <tr>
       <td> Teaching Assistant</td>
       <td> Algorithms and Parallel Computing, <em>Mathematical Engineering</em>, Politecnico di Milano</td>
  </tr>
  </table>

  <hr class="blue-rule">

  <h6> <strong>2022-2023</strong> </h6>
  <table class="custom-table">
  <colgroup>
    <col style="width: 20%;">
    <col style="width: 80%;">
  </colgroup>
  <tr>
       <td> Teaching Assistant</td>
       <td> Curve e Superfici per il Design, <em>Design della Moda</em>, Politecnico di Milano</td>
  </tr>
  </table>

  <hr class="blue-rule">

  <h6> <strong>2021-2022</strong> </h6>
  <table class="custom-table">
  <colgroup>
    <col style="width: 20%;">
    <col style="width: 80%;">
  </colgroup>
  <tr>
       <td> Teaching Assistant</td>
       <td> Metodi Analitici e Numerici per l’Ingegneria, <em>Ingegneria Energetica</em>, Poli. di Milano</td>
  </tr>
  <tr>
       <td> Teaching Assistant</td>
       <td> Curve e Superfici per il Design, <em> Design della Moda </em>, Politecnico di Milano</td>
  </tr>
  </table>

  <hr class="blue-rule">

  <h6> <strong>2021-2022</strong> </h6>
  <table class="custom-table">
  <colgroup>
    <col style="width: 20%;">
    <col style="width: 80%;">
  </colgroup>
  <tr>
       <td> Teaching Assistant</td>
       <td> Metodi Analitici e Numerici per l’Ingegneria, <em>Ingegneria Energetica</em>, Poli. di Milano</td>
  </tr>
  </table>
